span#deletephotodoc {
    position: absolute;
    float: left;
    top: 0;
    color: #d64635;
    font-size: 22px;
}
.fotorama_custom__remove {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    z-index: 180;
    color:white;
    top:10px;

}

.SubDocuments {
    margin-top: 40px;
}

.selecteddoc {
    margin-bottom: 25px;
}
.Doc-message-success{
    background-color: #55c842 !important;
}
.Doc-message-error{
    background-color: #E87D70 !important;
}
.Doc-message-info{
    background-color: #9CB6DE !important;
}
