<div class="DocumentsList">
   <table class="table">
      <th>Тип</th>
      <th>Дата создания</th>
      <th>Создал</th>
      <th>Редактировал</th>
      <th>Дата редактирования</th>
      <th></th>
[[+row]]
</table>
</div>