<div class="row row col-md-12 selecteddoc">
    <div class="col-md-3">
<span id="[[+buttonid]]" class="btn green fileinput-button">
    <i class="fa fa-plus"></i>
</span>
    </div>
    <div class="col-md-9">
        <select class="form-control" id="[[+id]]">
    <option value="">Выберите тип документа</option>
   [[+types]]
</select>
    </div>
</div>